<a href="https://colab.research.google.com/github/tastiz/SQL-skills/blob/master/dvdrentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import math
from sqlalchemy import create_engine

# Database credentials
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))



#Selects all columns from dvdrentals table
sql = '''SELECT COUNT(*) FROM film'''

dvds = engine.execute(sql)

engine.dispose()


#Counts the amount of movies at each rating
sql = '''SELECT COUNT(DISTINCT rating) FROM film'''

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

rating_count = engine.execute(sql)

engine.dispose()

rows = rating_count.fetchall()

#Average rental duration for each rating
sql = '''SELECT AVG(rental_duration) FROM film'''

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

rental_time = engine.execute(sql)

engine.dispose()

rows = rental_time.fetchall()

#Select all movies by length of film and run through a function to find the mean
sql = '''SELECT length FROM film '''

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

running_time = engine.execute(sql)

engine.dispose()

rows = running_time.fetchall()

running_time_list = [x['length'] for x in rows]
print(running_time_list)

#find the average running time for all films
def mean(running_time_list):
  total_time = 0
  for time in running_time_list:
    total_time += time
  print(total_time)
  print("running time list = ")
  print(running_time_list)
  total_movies = len(running_time_list)
  average_time = total_time / 1
  return average_time
print('The average running time for movies is {} minutes.'.format(mean(running_time_list)))

#finds the median running time
def median(running_time_list):
  running_time.sort()
  total_movies = len(running_time_list)
  isEven = total_movies % 2 == 0 

  if (isEven):
    mid = math.floor(total_movies / 2)
    a = running_time[mid -1]
    b = running_time[mid]
    result = (a +b) / 2
  else:
    result = running_time[math.floor(total_movies / 2)]

  return result

#finds the standard deviation of the movie times
def std_deviation(running_time_list):
  x_bar = mean(running_time_list)
  n = len(running_time_list)
  total_sum = 0
  for time in running_time_list:
    diff = time - x_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (n -1))
  return sigma
print('The standard deviation for movie times is {} minutes'.format(std_deviation(running_time_list)))

[86, 48, 50, 117, 130, 169, 62, 54, 114, 63, 126, 136, 104, 150, 94, 46, 180, 82, 57, 113, 79, 129, 85, 92, 181, 74, 86, 179, 91, 168, 82, 92, 119, 153, 62, 147, 127, 121, 68, 99, 148, 137, 170, 170, 113, 83, 108, 153, 118, 162, 182, 75, 173, 87, 113, 65, 129, 90, 122, 160, 89, 175, 106, 73, 151, 100, 53, 77, 122, 85, 142, 100, 93, 150, 162, 163, 103, 61, 85, 114, 148, 103, 71, 50, 102, 63, 121, 76, 179, 63, 63, 98, 72, 121, 176, 123, 169, 56, 73, 136, 161, 73, 60, 133, 119, 125, 61, 63, 67, 89, 53, 52, 120, 75, 61, 167, 70, 135, 85, 176, 92, 151, 114, 85, 163, 61, 179, 112, 183, 179, 110, 152, 114, 117, 51, 70, 146, 66, 71, 114, 87, 185, 122, 142, 61, 124, 107, 101, 132, 150, 101, 143, 90, 165, 81, 150, 164, 143, 124, 58, 65, 70, 95, 139, 55, 70, 149, 109, 67, 76, 120, 59, 112, 65, 180, 122, 87, 172, 115, 173, 184, 166, 185, 112, 92, 146, 64, 57, 136, 139, 172, 143, 50, 153, 104, 112, 69, 112, 184, 56, 133, 176, 161, 84, 106, 58, 144, 121, 89, 99, 130, 165, 185, 59, 57, 113, 120, 122, 51, 106, 100, 64, 76, 81, 76, 56, 88, 143, 87, 107, 63, 147, 141, 94, 68, 100, 47, 57, 122, 120, 125, 68, 49, 139, 177, 154, 47, 177, 176, 170, 133, 135, 61, 159, 175, 178, 110, 96, 116, 132, 171, 119, 154, 101, 168, 141, 140, 96, 98, 85, 148, 153, 107, 67, 85, 115, 126, 155, 152, 177, 143, 92, 85, 77, 51, 158, 176, 167, 66, 163, 174, 51, 167, 138, 97, 178, 122, 172, 144, 102, 155, 131, 58, 130, 91, 104, 77, 142, 98, 158, 72, 75, 118, 91, 156, 173, 148, 103, 125, 80, 123, 100, 179, 148, 145, 69, 158, 131, 63, 112, 90, 159, 126, 65, 133, 99, 73, 51, 111, 183, 82, 83, 94, 178, 161, 128, 119, 86, 185, 80, 106, 176, 125, 85, 101, 102, 114, 163, 173, 103, 89, 115, 54, 73, 154, 93, 153, 84, 56, 108, 129, 140, 156, 117, 85, 155, 135, 93, 166, 176, 150, 137, 111, 49, 139, 53, 100, 70, 127, 84, 146, 51, 47, 146, 108, 62, 107, 47, 100, 72, 168, 52, 121, 107, 76, 181, 47, 69, 59, 48, 49, 102, 169, 75, 84, 110, 93, 157, 141, 128, 78, 136, 69, 149, 88, 185, 103, 141, 84, 49, 176, 139, 95, 139, 181, 122, 109, 68, 151, 105, 125, 65, 49, 83, 100, 150, 131, 172, 119, 84, 160, 122, 178, 180, 103, 167, 157, 135, 74, 178, 123, 78, 116, 107, 59, 63, 181, 97, 46, 79, 84, 174, 181, 174, 135, 130, 118, 112, 128, 84, 58, 102, 171, 172, 60, 59, 124, 105, 54, 121, 74, 134, 92, 120, 169, 179, 54, 161, 184, 163, 141, 71, 171, 46, 46, 67, 113, 144, 78, 181, 175, 110, 153, 69, 113, 59, 167, 140, 138, 91, 147, 137, 174, 50, 140, 120, 85, 155, 67, 108, 137, 80, 98, 70, 181, 65, 75, 162, 152, 97, 74, 52, 116, 147, 178, 98, 117, 53, 171, 74, 138, 130, 136, 159, 133, 127, 177, 71, 114, 62, 123, 151, 165, 161, 56, 72, 80, 77, 147, 104, 161, 64, 105, 86, 48, 122, 64, 142, 149, 166, 59, 162, 164, 180, 105, 60, 77, 175, 74, 135, 182, 107, 158, 126, 83, 171, 184, 57, 103, 166, 79, 146, 53, 160, 157, 160, 50, 166, 185, 129, 73, 180, 92, 178, 180, 92, 50, 132, 161, 131, 75, 159, 75, 149, 83, 57, 67, 172, 128, 48, 64, 145, 54, 48, 58, 161, 131, 156, 92, 102, 76, 120, 118, 115, 118, 169, 129, 148, 85, 144, 84, 126, 102, 93, 109, 128, 48, 121, 109, 107, 157, 118, 99, 65, 175, 145, 160, 80, 74, 48, 99, 82, 118, 99, 60, 137, 136, 77, 50, 103, 100, 134, 60, 173, 132, 84, 138, 61, 137, 185, 159, 179, 115, 98, 144, 114, 53, 71, 106, 115, 155, 89, 100, 121, 88, 163, 177, 112, 147, 120, 154, 82, 74, 73, 147, 136, 97, 73, 182, 179, 182, 123, 82, 110, 167, 61, 117, 63, 177, 46, 153, 58, 149, 158, 102, 134, 102, 178, 145, 153, 81, 101, 60, 89, 162, 118, 171, 109, 153, 145, 181, 101, 48, 150, 99, 80, 106, 125, 73, 110, 154, 154, 75, 150, 182, 84, 183, 102, 151, 147, 104, 137, 80, 112, 182, 110, 90, 158, 109, 54, 98, 127, 60, 93, 47, 80, 113, 125, 79, 67, 167, 154, 139, 52, 111, 135, 67, 74, 51, 126, 152, 132, 179, 129, 64, 137, 87, 84, 156, 147, 60, 50, 184, 110, 74, 62, 185, 180, 165, 184, 184, 169, 143, 52, 165, 124, 141, 79, 138, 149, 138, 175, 134, 151, 112, 136, 85, 112, 130, 75, 181, 113, 143, 140, 48, 93, 160, 94, 57, 163, 151, 103, 139, 119, 132, 73, 144, 127, 114, 93, 111, 53, 141, 92, 135, 48, 58, 114, 47, 123, 176, 185, 108, 155, 173, 91, 64, 74, 148, 152, 71, 99, 53, 88, 179, 184, 135, 53, 111, 172, 69, 104, 91, 68, 142, 157, 179, 152, 144, 136, 142, 170, 139, 71, 132, 171, 168, 110, 102, 87, 64, 52, 115, 61, 92, 80, 152, 152, 82, 62, 172, 107, 78, 129, 164, 120, 174, 84, 128, 145, 48, 73, 126, 122, 142, 123, 85, 173, 90, 64, 145, 174, 76, 179, 164, 144, 59, 139, 157, 132, 78, 152, 112, 73, 135, 107, 80, 178, 83, 128, 161, 85, 78, 61, 112, 70, 134, 79, 159, 52, 109, 59, 183, 181, 137, 111, 85, 98, 100, 75, 55, 126, 105, 126, 111, 85, 116, 139, 74, 171, 185, 176, 178, 100, 86, 183, 179, 105, 101, 50]
115272
running time list =
[86, 48, 50, 117, 130, 169, 62, 54, 114, 63, 126, 136, 104, 150, 94, 46, 180, 82, 57, 113, 79, 129, 85, 92, 181, 74, 86, 179, 91, 168, 82, 92, 119, 153, 62, 147, 127, 121, 68, 99, 148, 137, 170, 170, 113, 83, 108, 153, 118, 162, 182, 75, 173, 87, 113, 65, 129, 90, 122, 160, 89, 175, 106, 73, 151, 100, 53, 77, 122, 85, 142, 100, 93, 150, 162, 163, 103, 61, 85, 114, 148, 103, 71, 50, 102, 63, 121, 76, 179, 63, 63, 98, 72, 121, 176, 123, 169, 56, 73, 136, 161, 73, 60, 133, 119, 125, 61, 63, 67, 89, 53, 52, 120, 75, 61, 167, 70, 135, 85, 176, 92, 151, 114, 85, 163, 61, 179, 112, 183, 179, 110, 152, 114, 117, 51, 70, 146, 66, 71, 114, 87, 185, 122, 142, 61, 124, 107, 101, 132, 150, 101, 143, 90, 165, 81, 150, 164, 143, 124, 58, 65, 70, 95, 139, 55, 70, 149, 109, 67, 76, 120, 59, 112, 65, 180, 122, 87, 172, 115, 173, 184, 166, 185, 112, 92, 146, 64, 57, 136, 139, 172, 143, 50, 153, 104, 112, 69, 112, 184, 56, 133, 176, 161, 84, 106, 58, 144, 121, 89, 99, 130, 165, 185, 59, 57, 113, 120, 122, 51, 106, 100, 64, 76, 81, 76, 56, 88, 143, 87, 107, 63, 147, 141, 94, 68, 100, 47, 57, 122, 120, 125, 68, 49, 139, 177, 154, 47, 177, 176, 170, 133, 135, 61, 159, 175, 178, 110, 96, 116, 132, 171, 119, 154, 101, 168, 141, 140, 96, 98, 85, 148, 153, 107, 67, 85, 115, 126, 155, 152, 177, 143, 92, 85, 77, 51, 158, 176, 167, 66, 163, 174, 51, 167, 138, 97, 178, 122, 172, 144, 102, 155, 131, 58, 130, 91, 104, 77, 142, 98, 158, 72, 75, 118, 91, 156, 173, 148, 103, 125, 80, 123, 100, 179, 148, 145, 69, 158, 131, 63, 112, 90, 159, 126, 65, 133, 99, 73, 51, 111, 183, 82, 83, 94, 178, 161, 128, 119, 86, 185, 80, 106, 176, 125, 85, 101, 102, 114, 163, 173, 103, 89, 115, 54, 73, 154, 93, 153, 84, 56, 108, 129, 140, 156, 117, 85, 155, 135, 93, 166, 176, 150, 137, 111, 49, 139, 53, 100, 70, 127, 84, 146, 51, 47, 146, 108, 62, 107, 47, 100, 72, 168, 52, 121, 107, 76, 181, 47, 69, 59, 48, 49, 102, 169, 75, 84, 110, 93, 157, 141, 128, 78, 136, 69, 149, 88, 185, 103, 141, 84, 49, 176, 139, 95, 139, 181, 122, 109, 68, 151, 105, 125, 65, 49, 83, 100, 150, 131, 172, 119, 84, 160, 122, 178, 180, 103, 167, 157, 135, 74, 178, 123, 78, 116, 107, 59, 63, 181, 97, 46, 79, 84, 174, 181, 174, 135, 130, 118, 112, 128, 84, 58, 102, 171, 172, 60, 59, 124, 105, 54, 121, 74, 134, 92, 120, 169, 179, 54, 161, 184, 163, 141, 71, 171, 46, 46, 67, 113, 144, 78, 181, 175, 110, 153, 69, 113, 59, 167, 140, 138, 91, 147, 137, 174, 50, 140, 120, 85, 155, 67, 108, 137, 80, 98, 70, 181, 65, 75, 162, 152, 97, 74, 52, 116, 147, 178, 98, 117, 53, 171, 74, 138, 130, 136, 159, 133, 127, 177, 71, 114, 62, 123, 151, 165, 161, 56, 72, 80, 77, 147, 104, 161, 64, 105, 86, 48, 122, 64, 142, 149, 166, 59, 162, 164, 180, 105, 60, 77, 175, 74, 135, 182, 107, 158, 126, 83, 171, 184, 57, 103, 166, 79, 146, 53, 160, 157, 160, 50, 166, 185, 129, 73, 180, 92, 178, 180, 92, 50, 132, 161, 131, 75, 159, 75, 149, 83, 57, 67, 172, 128, 48, 64, 145, 54, 48, 58, 161, 131, 156, 92, 102, 76, 120, 118, 115, 118, 169, 129, 148, 85, 144, 84, 126, 102, 93, 109, 128, 48, 121, 109, 107, 157, 118, 99, 65, 175, 145, 160, 80, 74, 48, 99, 82, 118, 99, 60, 137, 136, 77, 50, 103, 100, 134, 60, 173, 132, 84, 138, 61, 137, 185, 159, 179, 115, 98, 144, 114, 53, 71, 106, 115, 155, 89, 100, 121, 88, 163, 177, 112, 147, 120, 154, 82, 74, 73, 147, 136, 97, 73, 182, 179, 182, 123, 82, 110, 167, 61, 117, 63, 177, 46, 153, 58, 149, 158, 102, 134, 102, 178, 145, 153, 81, 101, 60, 89, 162, 118, 171, 109, 153, 145, 181, 101, 48, 150, 99, 80, 106, 125, 73, 110, 154, 154, 75, 150, 182, 84, 183, 102, 151, 147, 104, 137, 80, 112, 182, 110, 90, 158, 109, 54, 98, 127, 60, 93, 47, 80, 113, 125, 79, 67, 167, 154, 139, 52, 111, 135, 67, 74, 51, 126, 152, 132, 179, 129, 64, 137, 87, 84, 156, 147, 60, 50, 184, 110, 74, 62, 185, 180, 165, 184, 184, 169, 143, 52, 165, 124, 141, 79, 138, 149, 138, 175, 134, 151, 112, 136, 85, 112, 130, 75, 181, 113, 143, 140, 48, 93, 160, 94, 57, 163, 151, 103, 139, 119, 132, 73, 144, 127, 114, 93, 111, 53, 141, 92, 135, 48, 58, 114, 47, 123, 176, 185, 108, 155, 173, 91, 64, 74, 148, 152, 71, 99, 53, 88, 179, 184, 135, 53, 111, 172, 69, 104, 91, 68, 142, 157, 179, 152, 144, 136, 142, 170, 139, 71, 132, 171, 168, 110, 102, 87, 64, 52, 115, 61, 92, 80, 152, 152, 82, 62, 172, 107, 78, 129, 164, 120, 174, 84, 128, 145, 48, 73, 126, 122, 142, 123, 85, 173, 90, 64, 145, 174, 76, 179, 164, 144, 59, 139, 157, 132, 78, 152, 112, 73, 135, 107, 80, 178, 83, 128, 161, 85, 78, 61, 112, 70, 134, 79, 159, 52, 109, 59, 183, 181, 137, 111, 85, 98, 100, 75, 55, 126, 105, 126, 111, 85, 116, 139, 74, 171, 185, 176, 178, 100, 86, 183, 179, 105, 101, 50]
The average running time for movies is 115272.0 minutes.
115272
running time list =
[86, 48, 50, 117, 130, 169, 62, 54, 114, 63, 126, 136, 104, 150, 94, 46, 180, 82, 57, 113, 79, 129, 85, 92, 181, 74, 86, 179, 91, 168, 82, 92, 119, 153, 62, 147, 127, 121, 68, 99, 148, 137, 170, 170, 113, 83, 108, 153, 118, 162, 182, 75, 173, 87, 113, 65, 129, 90, 122, 160, 89, 175, 106, 73, 151, 100, 53, 77, 122, 85, 142, 100, 93, 150, 162, 163, 103, 61, 85, 114, 148, 103, 71, 50, 102, 63, 121, 76, 179, 63, 63, 98, 72, 121, 176, 123, 169, 56, 73, 136, 161, 73, 60, 133, 119, 125, 61, 63, 67, 89, 53, 52, 120, 75, 61, 167, 70, 135, 85, 176, 92, 151, 114, 85, 163, 61, 179, 112, 183, 179, 110, 152, 114, 117, 51, 70, 146, 66, 71, 114, 87, 185, 122, 142, 61, 124, 107, 101, 132, 150, 101, 143, 90, 165, 81, 150, 164, 143, 124, 58, 65, 70, 95, 139, 55, 70, 149, 109, 67, 76, 120, 59, 112, 65, 180, 122, 87, 172, 115, 173, 184, 166, 185, 112, 92, 146, 64, 57, 136, 139, 172, 143, 50, 153, 104, 112, 69, 112, 184, 56, 133, 176, 161, 84, 106, 58, 144, 121, 89, 99, 130, 165, 185, 59, 57, 113, 120, 122, 51, 106, 100, 64, 76, 81, 76, 56, 88, 143, 87, 107, 63, 147, 141, 94, 68, 100, 47, 57, 122, 120, 125, 68, 49, 139, 177, 154, 47, 177, 176, 170, 133, 135, 61, 159, 175, 178, 110, 96, 116, 132, 171, 119, 154, 101, 168, 141, 140, 96, 98, 85, 148, 153, 107, 67, 85, 115, 126, 155, 152, 177, 143, 92, 85, 77, 51, 158, 176, 167, 66, 163, 174, 51, 167, 138, 97, 178, 122, 172, 144, 102, 155, 131, 58, 130, 91, 104, 77, 142, 98, 158, 72, 75, 118, 91, 156, 173, 148, 103, 125, 80, 123, 100, 179, 148, 145, 69, 158, 131, 63, 112, 90, 159, 126, 65, 133, 99, 73, 51, 111, 183, 82, 83, 94, 178, 161, 128, 119, 86, 185, 80, 106, 176, 125, 85, 101, 102, 114, 163, 173, 103, 89, 115, 54, 73, 154, 93, 153, 84, 56, 108, 129, 140, 156, 117, 85, 155, 135, 93, 166, 176, 150, 137, 111, 49, 139, 53, 100, 70, 127, 84, 146, 51, 47, 146, 108, 62, 107, 47, 100, 72, 168, 52, 121, 107, 76, 181, 47, 69, 59, 48, 49, 102, 169, 75, 84, 110, 93, 157, 141, 128, 78, 136, 69, 149, 88, 185, 103, 141, 84, 49, 176, 139, 95, 139, 181, 122, 109, 68, 151, 105, 125, 65, 49, 83, 100, 150, 131, 172, 119, 84, 160, 122, 178, 180, 103, 167, 157, 135, 74, 178, 123, 78, 116, 107, 59, 63, 181, 97, 46, 79, 84, 174, 181, 174, 135, 130, 118, 112, 128, 84, 58, 102, 171, 172, 60, 59, 124, 105, 54, 121, 74, 134, 92, 120, 169, 179, 54, 161, 184, 163, 141, 71, 171, 46, 46, 67, 113, 144, 78, 181, 175, 110, 153, 69, 113, 59, 167, 140, 138, 91, 147, 137, 174, 50, 140, 120, 85, 155, 67, 108, 137, 80, 98, 70, 181, 65, 75, 162, 152, 97, 74, 52, 116, 147, 178, 98, 117, 53, 171, 74, 138, 130, 136, 159, 133, 127, 177, 71, 114, 62, 123, 151, 165, 161, 56, 72, 80, 77, 147, 104, 161, 64, 105, 86, 48, 122, 64, 142, 149, 166, 59, 162, 164, 180, 105, 60, 77, 175, 74, 135, 182, 107, 158, 126, 83, 171, 184, 57, 103, 166, 79, 146, 53, 160, 157, 160, 50, 166, 185, 129, 73, 180, 92, 178, 180, 92, 50, 132, 161, 131, 75, 159, 75, 149, 83, 57, 67, 172, 128, 48, 64, 145, 54, 48, 58, 161, 131, 156, 92, 102, 76, 120, 118, 115, 118, 169, 129, 148, 85, 144, 84, 126, 102, 93, 109, 128, 48, 121, 109, 107, 157, 118, 99, 65, 175, 145, 160, 80, 74, 48, 99, 82, 118, 99, 60, 137, 136, 77, 50, 103, 100, 134, 60, 173, 132, 84, 138, 61, 137, 185, 159, 179, 115, 98, 144, 114, 53, 71, 106, 115, 155, 89, 100, 121, 88, 163, 177, 112, 147, 120, 154, 82, 74, 73, 147, 136, 97, 73, 182, 179, 182, 123, 82, 110, 167, 61, 117, 63, 177, 46, 153, 58, 149, 158, 102, 134, 102, 178, 145, 153, 81, 101, 60, 89, 162, 118, 171, 109, 153, 145, 181, 101, 48, 150, 99, 80, 106, 125, 73, 110, 154, 154, 75, 150, 182, 84, 183, 102, 151, 147, 104, 137, 80, 112, 182, 110, 90, 158, 109, 54, 98, 127, 60, 93, 47, 80, 113, 125, 79, 67, 167, 154, 139, 52, 111, 135, 67, 74, 51, 126, 152, 132, 179, 129, 64, 137, 87, 84, 156, 147, 60, 50, 184, 110, 74, 62, 185, 180, 165, 184, 184, 169, 143, 52, 165, 124, 141, 79, 138, 149, 138, 175, 134, 151, 112, 136, 85, 112, 130, 75, 181, 113, 143, 140, 48, 93, 160, 94, 57, 163, 151, 103, 139, 119, 132, 73, 144, 127, 114, 93, 111, 53, 141, 92, 135, 48, 58, 114, 47, 123, 176, 185, 108, 155, 173, 91, 64, 74, 148, 152, 71, 99, 53, 88, 179, 184, 135, 53, 111, 172, 69, 104, 91, 68, 142, 157, 179, 152, 144, 136, 142, 170, 139, 71, 132, 171, 168, 110, 102, 87, 64, 52, 115, 61, 92, 80, 152, 152, 82, 62, 172, 107, 78, 129, 164, 120, 174, 84, 128, 145, 48, 73, 126, 122, 142, 123, 85, 173, 90, 64, 145, 174, 76, 179, 164, 144, 59, 139, 157, 132, 78, 152, 112, 73, 135, 107, 80, 178, 83, 128, 161, 85, 78, 61, 112, 70, 134, 79, 159, 52, 109, 59, 183, 181, 137, 111, 85, 98, 100, 75, 55, 126, 105, 126, 111, 85, 116, 139, 74, 171, 185, 176, 178, 100, 86, 183, 179, 105, 101, 50]
The standard deviation for movie times is 115214.35667617254 minutes

In [0]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

from sqlalchemy import create_engine

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

sql = '''
  SELECT COUNT(*) as count, a.actor_id, a.first_name, a.last_name 
  FROM film f 
  JOIN film_actor fa 
  ON f.film_id = fa.film_id 
  JOIN actor a 
  ON a.actor_id = fa.actor_id 
  JOIN film_category fc 
  ON fc.film_id = f.film_id
  JOIN category c
  ON c.category_id = fc.category_id
  WHERE c.name = 'Comedy'
  GROUP BY a.actor_id
  ORDER BY count DESC
'''

results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)